#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dog-list {
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 250px;
  width: 250px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

img {
  width: 80%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.flex {
  display: flex;
  gap: 10px;
}

.dog-count{
  gap: 70px;
}

.add-btn {
  margin-bottom: 24px;
  margin-right: 10px;
  margin-top: 24px;
}

.breed-selector {
  margin-left: 20px;
}